body {
    background-color: #dbd7d7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

.container{
    min-width: 900px;
    position: relative;
    overflow: auto;
}

#banner {
    background-image: url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80);
    background-color: gray;
    padding:15px;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

#menulist{
    padding:0;
    position: relative;
    overflow: auto;
}

#menulist li{
    width:165;
    float:left;
    background-color: gray;
    list-style-type: none;
    margin: 4px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

#menulist li a{
    text-decoration: none;
    color: #ffffff;
}

#menulist li:hover{
    background-color: #fb6161;
}

h1, h2, h3 {
    color:rgb(51, 200, 51);
}

#servicelist{
    padding:0;
    position: relative;
    overflow: auto;
}

.serviceitem{
    width: 300px;
    float:left;
    background-color: gray;
    list-style-type: none;
    margin: 4px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

#resumelist{
    padding:0;
    position: relative;
    overflow: auto;
}

.resumeitems {
    width:30%;
    float:left;
    border-radius: 10px;
    padding:5px;
    margin:4px;
}

.section-header {
    margin: 0 auto;
    width: 350px;
}

.section-header h2 {
    text-align: center;
}

#backtotop {
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border:none;
    outline: none;
    background-color: #fb6161;
    cursor: pointer;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

#backtotop:hover {
    background-color: #555;
}
