body {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cover {
    background-image: url('/img/oble.jpg');
    background-size: cover;
    background-position: 0% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    color: white;
}

.overlay {
    background-color: rgba(128, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#banner {
    font-size: 40px;
    padding-top: 17%;
    padding-left: 5%;
    padding-right: 45%;
}

#name {
    font-weight: bold;
    font-size: 60px;
    color: gold;
    text-align: center;
    margin: 0px;
}


.navbar li {
    float: right;
    width: 150px;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: gold;
}

.navbar li a {
    text-decoration: none;
    color: inherit;
}

.navbar li:hover {
    color: black;
    background-color: gold;
}

#navbar {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

#socials-bar {
    padding-left: 5%;
}

.social-icon {
    font-size: 30px;
    color: white;
    margin: 0 40px;
    transition: all 0.2s ease-in-out;
}

.social-icon:hover {
    font-size: 35px;
}

.contents {
    background-color: beige;
    padding: 20px;
}

